services:
	restino.mapping: Varhall\Restino\Mapping\MappingService
	restino.filters.chain: Varhall\Restino\Filters\Chain

	restino.controller.factory: Varhall\Restino\Controllers\ControllerFactory(factory: @application.presenterFactory)
	restino.controller.action: Varhall\Restino\Controllers\ActionFactory

	restino.dispatcher: Varhall\Restino\Application\Dispatcher

	restino.schema.generator: Varhall\Restino\Schema\SchemaGenerator

	# Nette application modifications
	application.presenterFactory:
		autowired: false
		alteration: true

